<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= user.age %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= user.kind %>
  </p>

  <p id='favorite_teachers'>
    <strong>Favorite Teachers:</strong>
    <%= favorite_teachers(user) %>
  </p>

  <p id='classmates'>
    <strong>Class Mates:</strong>
    <%= classmates(user) %>
  </p>

</div>
